<div class="container p-4">
    <div class="row">
        <div class="col-md-10 mx-auto">
            <div class="card">
                <div class="card-body">
                    <h1 class="text-center">Cliente</h1>
                    <form action="/clientes/add" method="POST">
                        <div class="form-row justify-content-center">
                            <div class="form-group col-md-6">
                                <input type="text" class="form-control" name="Nombre" id="Nombre" placeholder="Nombre" required autofocus>
                            </div>
                        </div>
                        <div class="form-row justify-content-center">
                            <div class="form-group col-md-6">
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <input type="text" class="form-control" name="Edad" id="Edad" placeholder="Edad" required>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <input type="text" class="form-control" name="FechaVisita" id="FechaVisita" placeholder="FechaVisita" data-toggle="datepicker" required >
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-row justify-content-center">
                            <div class="form-group col-md-6">
                                <div class="form-check">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="ckb_lentes" name="Lentes" value="1">
                                        <label class="custom-control-label" for="ckb_lentes">Lentes</label>
                                    </div>
                                </div>
                                <div class="form-check">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="ckb_montura" name="Montura" value="1">
                                        <label class="custom-control-label" for="ckb_montura">Montura</label>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                        
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <h4 class="text-center">DISTANCIA</h4>
                                <div class="table-responsive">
                                    <table class="table table-sm table-bordered">
                                        <thead class="thead-dark text-center">
                                            <tr>
                                            <th scope="col"></th>
                                            <th scope="col" class="th70">ESFERICO</th>
                                            <th scope="col" class="th70">CILINDRICO</th>
                                            <th scope="col" class="th70">EJE</th>
                                            <th scope="col" class="th70">DIP</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <th scope="row">OD</th>
                                                <td><input type="text" class="form-control" name="d_od_esferico" id="d_od_esferico"></td>
                                                <td><input type="text" class="form-control" name="d_od_cilindrico" id="d_od_cilindrico"></td>
                                                <td><input type="text" class="form-control" name="d_od_eje" id="d_od_eje"></td>
                                                <td rowspan="2" style="padding-top: 7%;"><input type="text" class="form-control" name="d_dpi" id="d_dpi"></td>
                                            </tr>
                                            <tr>
                                                <th scope="row">OI</th>
                                                <td><input type="text" class="form-control" name="d_oi_esferico" id="d_oi_esferico"></td>
                                                <td><input type="text" class="form-control" name="d_oi_cilindrico" id="d_oi_cilindrico"></td>
                                                <td><input type="text" class="form-control" name="d_oi_eje" id="d_oi_eje"></td>
                                                {{!-- <td><input type="text" class="form-control" name="d_oi_dpi" id="d_oi_dpi"></td> --}}
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="form-group col-md-6">
                                <h4 class="text-center">CERCA</h4>
                                <div class="table-responsive">
                                    <table class="table table-sm table-bordered">
                                        <thead class="thead-dark text-center">
                                            <tr>
                                            <th scope="col"></th>
                                            <th scope="col" class="th70">ESFERICO</th>
                                            <th scope="col" class="th70">CILINDRICO</th>
                                            <th scope="col" class="th70">EJE</th>
                                            <th scope="col" class="th70">DIP</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <th scope="row">OD</th>
                                                <td><input type="text" class="form-control" name="c_od_esferico" id="c_od_esferico"></td>
                                                <td><input type="text" class="form-control" name="c_od_cilindrico" id="c_od_cilindrico"></td>
                                                <td><input type="text" class="form-control" name="c_od_eje" id="c_od_eje"></td>
                                                <td rowspan="2" style="padding-top: 7%;"><input type="text" class="form-control" name="c_dpi" id="c_dpi"></td>
                                            </tr>
                                            <tr>
                                                <th scope="row">OI</th>
                                                <td><input type="text" class="form-control" name="c_oi_esferico" id="c_oi_esferico"></td>
                                                <td><input type="text" class="form-control" name="c_oi_cilindrico" id="c_oi_cilindrico"></td>
                                                <td><input type="text" class="form-control" name="c_oi_eje" id="c_oi_eje"></td>
                                                {{!-- <td><input type="text" class="form-control" name="c_oi_dpi" id="c_oi_dpi"></td> --}}
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <h4>Defectos Visuales</h4>
                        <div class="form-row">
                            {{#each defectosVisuales}}
                            <div class="form-check">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id='ckb_dv_{{idDefectoVisual}}' name='DefectosVisuales' value='{{idDefectoVisual}}'>
                                    <label class="custom-control-label" for='ckb_dv_{{idDefectoVisual}}'>{{Descripcion}}</label>
                                </div>
                            </div>
                            {{/each}}
                        </div>
                        <h4>Precio</h4>
                        <div class="form-row">
                            <div class="form-group col-md-4">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">S/.</span>
                                    </div>
                                    <input type="text" class="form-control" name="Precio" id="Precio" placeholder="Precio">
                                </div>
                            </div>
                        </div>
                        <h4>Observacion</h4>
                        <div class="form-row">
                            <textarea class="form-control" name="Observacion" id="Observacion"  rows="3"></textarea>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6 text-center mt-3">
                                <button type="submit" class="btn btn-success btn-lg"><i class="fa fa-floppy-o" aria-hidden="true"></i> Guardar</button>
                            </div>
                            <div class="form-group col-md-6 text-center mt-3">
                                <a href="/clientes/" class="btn btn-danger btn-lg"><i class="fa fa-times" aria-hidden="true"></i> Cerrar</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>